*,
*::after,
*::before,
html,
body {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

html,
body {
    font: normal 16px/1.5 sans-serif;
    height: 100vh;
}

body {
    align-items: center;
    background-color: #02374d;
    display: grid;
    height: 100vh;
    place-items: center;
    justify-content: center;
}

h1 {
    color: #00ff7f;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

#deaf {
    background-color: transparent;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    font-size: 18px;
    padding: 16px 24px;
    text-transform: uppercase;
}

h1#sign {
    align-items: center;
    display: flex;
    gap: 4px;
    justify-content: center;
}

h1#sign s {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    height: 100px;
    text-decoration: none;
    width: 60px;
}

[data-s=s_1_a] {
    background-image: url(/images/alphabet/s_1_a.svg);
}

[data-s=s_2_b] {
    background-image: url(/images/alphabet/s_2_b.svg);
}

[data-s=s_3_v] {
    background-image: url(/images/alphabet/s_3_v.svg);
}

[data-s=s_4_g] {
    background-image: url(/images/alphabet/s_4_g.svg);
}

[data-s=s_5_g] {
    background-image: url(/images/alphabet/s_5_g.svg);
}

[data-s=s_6_d] {
    background-image: url(/images/alphabet/s_6_d.svg);
}

[data-s=s_7_e] {
    background-image: url(/images/alphabet/s_7_e.svg);
}

[data-s=s_8_e] {
    background-image: url(/images/alphabet/s_8_e.svg);
}

[data-s=s_9_zh] {
    background-image: url(/images/alphabet/s_9_zh.svg);
}

[data-s=s_10_z] {
    background-image: url(/images/alphabet/s_10_z.svg);
}

[data-s=s_11_ji] {
    background-image: url(/images/alphabet/s_11_ji.svg);
}

[data-s=s_12_i] {
    background-image: url(/images/alphabet/s_12_i.svg);
}

[data-s=s_13_ii] {
    background-image: url(/images/alphabet/s_13_ii.svg);
}

[data-s=s_14_yi] {
    background-image: url(/images/alphabet/s_14_yi.svg);
}

[data-s=s_15_k] {
    background-image: url(/images/alphabet/s_15_k.svg);
}

[data-s=s_16_l] {
    background-image: url(/images/alphabet/s_16_l.svg);
}

[data-s=s_17_m] {
    background-image: url(/images/alphabet/s_17_m.svg);
}

[data-s=s_18_n] {
    background-image: url(/images/alphabet/s_18_n.svg);
}

[data-s=s_19_o] {
    background-image: url(/images/alphabet/s_19_o.svg);
}

[data-s=s_20_p] {
    background-image: url(/images/alphabet/s_20_p.svg);
}

[data-s=s_21_r] {
    background-image: url(/images/alphabet/s_21_r.svg);
}

[data-s=s_22_s] {
    background-image: url(/images/alphabet/s_22_s.svg);
}

[data-s=s_23_t] {
    background-image: url(/images/alphabet/s_23_t.svg);
}

[data-s=s_24_u] {
    background-image: url(/images/alphabet/s_24_u.svg);
}

[data-s=s_25_f] {
    background-image: url(/images/alphabet/s_25_f.svg);
}

[data-s=s_26_h] {
    background-image: url(/images/alphabet/s_26_h.svg);
}

[data-s=s_27_tc] {
    background-image: url(/images/alphabet/s_27_tc.svg);
}

[data-s=s_28_ch] {
    background-image: url(/images/alphabet/s_28_ch.svg);
}

[data-s=s_29_sh] {
    background-image: url(/images/alphabet/s_29_sh.svg);
}

[data-s=s_30_shc] {
    background-image: url(/images/alphabet/s_30_shc.svg);
}

[data-s=s_31_y] {
    background-image: url(/images/alphabet/s_31_y.svg);
}

[data-s=s_32_ja] {
    background-image: url(/images/alphabet/s_32_ja.svg);
}

[data-s=s_33_mz] {
    background-image: url(/images/alphabet/s_33_mz.svg);
}